body {
  color: #FFF;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  text-align: center;
  color: #FFF;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #cd9557;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
  font-size: smaller;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #cd9557;
}

label {
  margin: 2rem;
}

.contach1 {
  color: #3C4EB7;
  padding: 3rem;
}

.contactbody {
  text-align: center;
}

/* Hierachial container */
.top-container {
  background-color: #3C4EB7;
  position: relative;
  padding-top: 120px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  text-align: center;
  background-color: #3C4EB7;
  padding: 50px 0 20px;
}

textarea {
  padding: 3rem;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.prof {
  border-radius: 100%;
  margin-bottom: 1rem;
}

.pro {
  text-align: center;
  /* color: #000; */
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

.pic {
  float: left;
  width: 25%;
  border-radius: 100%;
  margin-right: 30px
}

.background-img {
  padding-left: 4rem;
}

.bbg {
  float: right;
  width: 25%;
  border-radius: 100%;
  margin-left: 30px
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.intro {
  width: 30%;
  margin: auto;
  color: rgb(228, 189, 138);
}

.contactm {
  width: 30%;
  margin: 40px auto 60px;
}
.mycontact{
  text-align: inherit;
}

.tech {
  margin: auto;
}

.tech:hover {
  color: #cd9557;
  opacity: 7;
  cursor: pointer;
}

.contact-me {
  text-align: center;
}

.btn {
  color: #ba7c37;
  /* display: inline-block; */
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #ba7c37;
}
.desc1{
  text-align: left;
  color: rgb(214, 191, 161);
}
.desc2{
  color: rgb(214, 191, 161); 
}



.btn:hover {
  background-color: #ba7c37;
  border-color: #ba7c37;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.card{
 margin: 4rem;
 padding: 3rem;
}


    @media only screen and (max-height: 700px) {
      h2 {
        font-size: 1.5em;
      }

      h3 {
        font-size: 1.0em;
      }

      .color {
        height: 30px;
        width: 30px;
      }


      .content {
        margin-bottom: 10px;
      }
    }
  



 